.header {
    width: 100%;
    height: 656px;

    &__wrapper {
        max-width: $max-width-doc;
        height: 100%;
        background: url('../imag/chart.png') no-repeat bottom, 
        linear-gradient(to top, rgba(0,0,0,0.7)), 
        url('../imag/header-bg.png') no-repeat center;
    }

    &__wrapper-cont {
        max-width: $max-width-cont;
        padding-top: 71px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 100px;
    }

    &__top-left,
    &__top-right {
        margin-bottom: 5px;
    }


    &__top-nav ul {
        display: flex;
        align-items: center;
    }

    &__top-nav li + li {
        margin-left: 50px;
    }

    // // top-nav-text
    // &__top-nav li a {
    //     // border-bottom: 1px solid $r;
    //     // border: none;
    //     // transition: border-bottom 150ms ease-out 200ms;
        
    // }

    &__top-nav li a:hover > span {
        border-bottom: 2px solid $r;
        transition: border-bottom 150ms ease-in 0ms; 
    }

    &__centr {
        max-width: 100%;
    }

    &__centr-headline {
        margin-bottom: 35px;
        text-align: center;
    }

    &__centr-text {
        max-width: 580px;
        margin-bottom: 41px;
    }

    &__centr-button-blok {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        max-width: 460px;
    }
}


@media screen and (max-width: 991px) {

.header__top-right {
    position: relative;

    .header__top-nav {

        ul {
            flex-direction: column;
            // align-items: center;
            margin-top: 30px;
        }

        ul li {
            margin: 0;
        }
        
        @include media-max(1023px) {
            position: fixed;
            height: 100%;
            right: 0;
            top: 0;
            padding: 100px 50px 20px;
            background-color: #000;
            transform: translateX(100%);
            transition: .25s;
            
            &.active {
                display: block;
                transform: none;
            }
        }
    }

}  

    .header__top {
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 600px) {
    .header {
        height: 845px;
    }

    .header__wrapper-cont {
        padding-top: 50px;
    }

}
    