.header-cont {
    width: $header-width;
    height: 95px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    &__logo,
    &__button {
        display: flex;
        align-items: center;       
    }

    &__logo {
        margin-left: 20px;
    }

    &__button-help {
        width: 219px;
        height: 45px;
        border: none;
        border-radius: 5px;
        box-shadow: inset 0 -3px 0 #0c62d9;
        background-color: #34aaef;
        background-image: linear-gradient(to top, #2291e8, #52bcf3 100%);
        outline: none;
        display: flex;
        align-items: center;
        padding: 15px 20px;

        & img {
            width: 14px;
            height: 14px;
            display: block;
            flex-shrink: 0;
            margin-right: 10px;
        }

    }

    &__button-help span {
        height: 13px;
        text-shadow: 1px 1px 0 #1775e4;
        color: #ffffff;
        font-family: "HelveticaNeueCyrRoman";
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        display: block;
        flex-shrink: 0;
        margin-bottom: 4px;
    }  

    &__button-liad {
        width: 257px;
        height: 45px;
        margin-left: 30px;
        border: none;
        border-radius: 5px;
        box-shadow: inset 0 -3px 0 #159a01;
        background-image: linear-gradient(to top, #58c706, #8edf1d 100%);    
        outline: none;
    }

    &__button-liad span {
        width: 218px;
        height: 13px;
        text-shadow: 1px 1px 0 #32ba04;
        color: #ffffff;
        font-family: "HelveticaNeueCyrRoman";
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
    }

    &__button-help span:hover {
        text-shadow: 1px 1px 0 #1f82ed;
    }

    &__button-help span:active {
        text-shadow: 1px 1px 0 #0a3479;
    }
    
    &__button-help:hover {
        border: none;
        border-radius: 5px;
        box-shadow: inset 0 -1px 0 #146fe5;
        background-image: linear-gradient(to top, #309bef, #65c4f6 100%);
    }

    &__button-help:active {
        border: none;
        border-radius: 5px;
        box-shadow: inset 0 3px 5px #1b648c;
        background-color: #1674ab;;
        background-image: linear-gradient(to top, #11649c, #1e7db1 100%);
    }

    &__button-liad span:hover {
        text-shadow: 1px 1px 0 #35c806;
    }

    &__button-liad span:active {
        text-shadow: 1px 1px 0 #267000;
    }
    
    &__button-liad:hover {
        border: none;
        border-radius: 5px;
        box-shadow: inset 0 -1px 0 #17ad02;
        background-image: linear-gradient(to top, #5bd007, #93e522 100%);
    }

    &__button-liad:active {
        border: none;
        border-radius: 5px;
        box-shadow: inset 0 3px 5px #4e8700;
        background-color: #55a500;
        background-image: linear-gradient(to top, #499800, #5fab00 100%);
    }

   
}