@font-face {
    font-family: "Roboto Mono";
    font-size: 16px;
    font-weight: 400;
    src: url("fonts/RobotoMono-Regular.ttf");
}

@font-face {
    font-family: "Roboto Mono";
    font-size: 26px;
    font-weight: 100;
    src: url("fonts/RobotoMono-Thin.ttf");
}